/* App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}
#header {
  display: flex;
}
input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

#text {
  flex-grow: 1;
}

button {
  background-color: #27ae60;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  flex-grow: 1;
}

#update {
  background-color: #3498db;
}

#delete {
  background-color: #e74c3c;
  margin-left: 10px;
}

/* Add more styles as needed */
